@charset "utf-8";
body {margin: 0;padding: 0;}
ul, li {list-style: none;}
.wrap {
    display: inline-block;
    width: 1500px;
    margin: 0 auto;
    border: 1px solid #000;
    clear: both;
}

.wrap > div {
    float: left;
    margin: 20px;
}

.box {
    width: 150px;
    height: 50px;
    line-height: 50px;
    border-radius: 100px;
    background-color: pink;
    font-size: 20px;
    text-align: center;
    transition: all 0.3s;
}

.box1:hover {
    transform: translateX(50px)
}

.box1-2:hover {
    transform: translate(20px, -50px)
}

.box2:hover {
    transform: scale(1.1)
}

/*1 = 100%*/
.box2-2:hover {
    transform: scaleY(0.8)
}

.box3:hover {
    transform: rotate(20deg);
    transform-origin: right top
        /*기준점*/
}

.box4:hover {
    /* 벤더프리픽스 장성 후 기본 스타일 적용 */
    -ms-transform: skewY(15deg);
    -o-transform: skewY(15deg);
    -webkit-transform: skewY(15deg);
    -moz-transform: skewY(15deg);
    transform: skewY(15deg);


}

.box5 {
    /*                transition:all 0.3s;*/
    transition: all 0.3s;
}

.box5:hover {
    /*
                width: 250px;
                height: 250px;
*/
    transform: scale(1.5);
    transform: rotate(45deg);
    border-radius: 20px;
    background-color: black;
    color: #fff;
}



// .box7 {
//     animation-name: ani;
//     animation-duration: 2s;
//     animation-iteration-count: infinite;
//     /*횟수*/
//     animation-play-state: paused;
// }
// @keyframes ani {
//     0% {
//         background-color: red
//     }

//     30% {
//         width: 400px;
//         background-color: orange
//     }

//     60% {
//         width: 400px;
//         height: 250px;
//         background-color: yellow
//     }

//     60% {
//         width: 400px;
//         height: 250px;
//         background-color: green
//     }

//     80% {
//         width: 400px;
//         height: 250px;
//         background-color: blue
//     }

//     100% {
//         background-color: pink
//     }
// }

.box8 {
    animation-name: anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /*횟수*/
    animation-play-state: paused;
}

.box8:hover {
    animation-play-state: running
}


.box9 {
    width: 150px;height: 50px;
    background-color: #fff;
    transition: all 1s;
}

.box9:hover {
    background-color: #e9e9e9;
}



/*----------------- ver_1 ----------------*/
.ham,
.ham2 {
    width: 25px;
    background-color: transparent;
}

.ham:hover {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6;
    transform: rotate(45deg);
}

.ham span,
.ham2 span {
    width: 25px;
    height: 4px;
    background-color: #373737;
    display: block;
    margin: 5px auto;
    transition: all 0.5s;
}

.ham:hover .first {
    transform: translateY(8px);
    transition-delay: 0.3s;
}

.ham:hover .second {
    transform: translateY(-1px) rotate(90deg);
    transition-delay: 0.5s;
}

.ham:hover .third {
    transform: translateY(-9px) translateX(0px) rotate(90deg);
    transition-delay: 0.5s;
}


/*----------------- ver_2 ----------------*/
.ham2 {
    display: block;
    width: 50px;
}

.ham2 span {
    width: 50px;
    height: 4px;
    background-color: #373737;
    display: block;
    margin: 5px auto;
    transition: all 0.5s;
}

.ham2:hover {
    transition: all 0.3s ease-in-out;
    /*transition-delay: 0.6;
            transform: rotate(45deg);*/
}

.ham2 .second {
    opacity: 1;
}

.ham2:hover .first {
    transform: translateY(18px) rotate(135deg);
    transition-delay: 0.1s;
}

.ham2:hover .second {
    opacity: 0;
    transition-delay: 0.2s;
}

.ham2:hover .third {
    transform: rotate(-135deg);
    transition-delay: 0.1s;

}


@keyframes anim {
    0% {
        border-radius: 40px;
        background-color: blue
    }

    30% {
        border-radius: 50px;
        background-color: lightblue
    }

    60% {
        border-radius: 80px;
        background-color: skyblue
    }

    60% {
        border-radius: 100px;
        background-color: deepskyblue
    }

    80% {
        border-radius: 150px;
        background-color: cadetblue
    }

    100% {
        border-radius: 200px;
        background-color: darkblue
    }
}

/* dim */

.tran_hv {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}

.tran_hv .img_area {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.tran_hv .img_area > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tran_hv .img_area .hover_area {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100%);
    height: calc(100%);
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    transition: opacity 1s;
}

.tran_hv .img_area .hover_area p {
    text-align: center;
}

.tran_hv .img_area:hover .hover_area {
    transition: opacity 1s;
    opacity: 0.5;
}


.color_hv {
    color: #000;
    background-color: #fff;;
    transition:all 1s;
}
.color_hv {
    &:hover{
        background-color: #000;
        color: red;
    }
}


.border_hv {
    margin: 0px !important;
    div{
        float: left;position: relative;
        width: 100px;padding: 5px 10px;
        border: 1px solid #e9e9e9;
        text-align: center;
        
    }
    div.first{
        &:after {
            content: '';
            position: absolute;left: 0;right: 0;bottom: 0;
            width:0;height: 3px;margin: 0 auto;
            background-color: red;
            transition: all 0.3s;
        }
        &:hover{
            &:after{
                width: 100%;bottom: 0;
                transition: all 0.3s;
            }
        }
    }

    div.second{
        &:after {
            content: '';
            position: absolute;left: 0;right: 0;bottom: 0;
            width:100%;height: 0;
            opacity: 0;
            background-color: red;
            transition: all 0.2s;
        }
        &:hover{
            &:after{
                width: 100%;bottom: 0;height: 3px;opacity: 1;
                transition: all 0.5s;
            }
        }
    }
    div.third {
        &:hover {
            color: #fff;
            background-color: #bd123b;
            transition: all 0.5s;
        }
    }



    .box04 {
        position: relative;
        &:after {
            content: '';
            position: absolute;top: 0;left: 0;
            width: 4px;
            height: 100%;
            opacity: 0;
            background: red;
            transition: opacity 0.2s;
        }        
        &:hover {
            &:after {
                opacity: 1;
                transition: opacity 0.3s;
            }
        }
    }
    .box05 {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top:-5px;
            left: calc(50% - 5px);
            width: 0;
            height: 0;
        }
        &:hover {
            color: #fff;
            background: red;
            &:after {
                border-bottom: 5px solid red;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
            }
        }
    }
}





















.border_hv2 {
    width: 300px;
    margin: 0 auto;
    background: #212121;
    li{
        display: inline-block;
        margin: 0.5em 1.5em;
        padding: 0;   
    }
    .type1 > a {
        position: relative;display: inline-block;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);
        padding: 10px 0;
        &:before,&:after {
            height: 3px;
            position: absolute;
            content: '';
            transition: all 0.35s ease;
            background-color: #9b59b6;
            width: 0;
        }
        &:before {
            top: 0;
            left: 0;
        }
        &:after {
            bottom: 0;
            right: 0;
        }  
    }
}

.border_hv2 .type1 a:hover,
.border_hv2 .type1.on a {
  color: #ffffff;
}
.border_hv2 .type1 a:hover:before,
.border_hv2 .type1.on a:before,
.border_hv2 .type1 a:hover:after,
.border_hv2 .type1.on a:after {
  width: 100%;
}

.border_hv2 {
    .type2 a{
        position: relative;
        color:rgba(255, 255, 255, 0.5);
        text-decoration: none;
        &:after {
            content:'';
            position: absolute;bottom:-10px;left: 0;
            width: 0;
            height: 3px;
            background: #fff;
            transition:all 0.3s;
        }
        &:hover{
            &:after {
                width: 100%;
                transition:all 0.3s;
            }
        }
    }
    .type2.on a{
        color: #fff;
        &:after {
            width: 100%;
        }
    }
}

.border_hv2 {
    .type3 a{
        position: relative;
        color:rgba(255, 255, 255, 0.5);
        padding: 5px 0;
        text-decoration: none;
        transition:all 0.3s;
        &:after {
            content:'';
            position: absolute;top:0;left: -10px;
            width: 0;
            height: 100%;
            background: #fff;
            transition:all 0.1s;
        }
        &:hover{
            color: #fff;
            transition:all 0.3s;
            &:after {
                width: 3px;
                height: 100%;
                transition:all 0.1s;
            }
        }
    }
    .type3.on a{
        color: #fff;
        &:after {
            width: 3px;height: 100%;
        }
    }
}













.shadow {
    width: 600px;
    text-align: center;
    div{
        float: left;
        color: #8f9db2;
        width: 200px;height:200px;margin: 0 30px;
        background-color:#f2f4f8;border: 1px solid #e9e9e9;border-radius: 20%;
        font-weight:bold;line-height: 200px;
        transition: all 0.3s;
    }
    div.sd1{
        &:hover{
            color: #0f408b;
            background-color: #fff;
            box-shadow: 0px 0px 20px rgba(102, 186, 255, 0.4);
            transition: all 0.3s;
        }
    }
    div.sd2{
        &:hover{
            color: #0f408b;
            background-color: #fff;
            box-shadow: 10px 10px 10px rgba(102, 186, 255, 0.4);
            transition: all 0.3s;
        }
    }
}
.guide {
    width: 700px;
    div {
        float: left;
        margin: 5px;
    }
}






.triangle1 {
    width: 0;
    height: 0;
    border-left:100px solid rgba(102, 186, 255, 0.4);
    border-top:50px solid transparent;
    border-bottom:50px solid transparent;
}

.triangle2 {
    width: 0;
    height: 0;
    border-right:100px solid rgba(102, 186, 255, 0.4);
    border-top:50px solid transparent;
    border-bottom:50px solid transparent;
}
.triangle3 {
    width: 0;
    height: 0;
    border-top:100px solid rgba(102, 186, 255, 0.4);
    border-left:50px solid transparent;
    border-right:50px solid transparent;
}
.triangle4 {
    width: 0;
    height: 0;
    border-bottom:100px solid rgba(102, 186, 255, 0.4);
    border-left:50px solid transparent;
    border-right:50px solid transparent;
}

.triangle5 {
    width: 0;
    height: 0;
    border-top: 50px solid red;
    border-bottom: 50px solid blue;
    border-left: 50px solid yellow;
    border-right: 50px solid green;
    animation: rotateImg 20s linear infinite;
    transform-origin: 50% 50%;
}
.triangle6 {
    width: 0;
    height: 0;
    border-top: 50px solid red;
    border-bottom: 50px solid blue;
    border-left: 50px solid blue;
    border-right: 50px solid red;
    border-radius: 50%;
    animation: rotateImg 20s linear infinite;
    transform-origin: 50% 50%;
}


@keyframes rotateImg{
    100%{
        transform:rotate(360deg);
    }
}

$colors : (red,blue,green,yellow);




.guide.each {
    @each $color in $colors {
        div.#{$color} {
            width: 100px;
            height: 100px;
            background-color: $color;
        }
    }
}











.dateBox {
    display: inline-block;
    width: 1400px;
    height: auto;margin: 0 auto;
    border: 1px solid #000;
    p{
        display: block;
        width: 300px;
    }
    .password {
        width: 50px;
    }
}

#dialog {
    label{
        width: 40%;
    }
    input{
        width: 40%;
    }
}

label, input {margin: 10px 0;}

.mail, select {width: 40%;display: inline-block;}





#accordion {
    width: 500px;
    margin: 0 auto;
}

















/* 3d motion */

.bf {
    position: relative;
    perspective: 1000;
}

.backface {
    width: 200px;
    height: 70px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
}

.backface .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    backface-visibility: hidden;
}

.backface .front {
    background-color: red;
}

.backface .back {
    transform: rotateY(180deg);
    background-color: blue;
}

.bf:hover .backface {
    transform: rotateY(180deg);
}



.menu_wrap {
    width: 36px;height: 36px;padding: 0 7px;
    .menu1 {
        overflow: hidden;
        span {
            display: block;
            height: 3px;margin: 4px 0;
            background: #000;
            &:first-child {
                animation-delay: 0.3s;
            }
            &:nth-child(2) {
                animation-delay: 0.5s;
            }
            &:last-child {
                animation-delay: 0.1s;
            }
        }
    }
}
.menu_wrap {
    .menu1{
        &:hover{
            span{
                &:first-child{
                    animation: mainMenu 1s ease-in;
                }
                &:nth-child(2){
                    animation: mainMenu 0.8s ease-in;
                }
                &:last-child{
                    animation: mainMenu 0.5s ease-in;
                }
            }
        }
    }
}



@keyframes mainMenu {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}









































































































































































